@model PortfolioProjesi.Models.Project
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Proje Güncelleme Sayfası</h2>

<form method="post">
    <label>Proje ID</label>
    @Html.TextBoxFor(x => x.ProjectID, new { @class = "form-control" })
    <label>Proje Adı</label>
    @Html.TextBoxFor(x => x.ProjectTitle, new { @class = "form-control" })
    <label>Proje Yorumu</label>
    @Html.TextAreaFor(x => x.Description, 5, 1, new { @class = "form-control" })
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x => x.ProjectCategory, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Verileri Güncelle</button>
</form>
