
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Aradığınız Sayfa Bulunamadı</title>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/Templates/colorlib-error-404-7/css/style.css" />
</head>
<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2>Ooops, Kayıp mı oldunuz, hemen ana sayfaya geri dönün</h2>
            <form class="notfound-search">
                <input type="text" placeholder="Aranacak kelimeleri giriniz..">
                <button type="button">Bul</button>
            </form>
            <a href="/Default/Index/"><span class="arrow"></span>Ana Sayfaya Geri Dön</a>
        </div>
    </div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
