<div class="copyright py-sm-5 py-4 text-center">
    <div class="container">
        <p class="copy-footer-29">
            © 2023'de oluşturduğum proje <a href="https://w3layouts.com">Kardelen Yazılım</a>
        </p>
    </div>
</div>
