@model List<PortfolioProjesi.Models.Feature1>
<section id="home" class="w3l-banner pb-5">
    <div class="container pb-md-3">
        <div class="banner-wrapper text-center">
            <div class="">
                @foreach (var item in Model)
                {
                    <span class="text">@item.FeatureBaslik</span>
                    <h1 class="mb-4 title">
                        <span class="type-js"><span class="text-js">@item.FeatureAltBaslik</span></span><br>

                    </h1>
                    <p class="mx-lg-5">
                        @item.FeatureAciklama
                    </p>
                }
            </div>

            <div class="row">
                <div class="col-lg-8 mx-lg-auto col-md-10">
                    <img src="~/Templates/iportfolio-starter/assets/images/banner.png" alt="" class="img-fluid mt-lg-5 mt-3">
                </div>
            </div>
            <ul class="follow-social">
                <li><p>Follow me </p></li>
                <li><a href="https://www.linkedin.com/feed/"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="https://www.facebook.com/"><span class="fa fa-facebook-official"></span></a></li>
                <li><a href="https://www.instagram.com/"><span class="fa fa-instagram"></span></a></li>
            </ul>
        </div>
    </div>
</section>

